@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.home-page-container {
    background-image: url("https://media.istockphoto.com/id/2212203672/photo/vertical-view-of-diverse-electronic-waste-including-phone-keyboard-headphones-and-camera.jpg?s=1024x1024&w=is&k=20&c=Q8LwohJPhW2QU4YksfRNR11Kx8N-yluI80hgdVhe_cY=");
    height: 100vh;
    background-size: cover;
    padding: 50px;

}

.heading {
    padding: 70px;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    color: #9e4823;
}

.paragraph {
    text-align: center;
    font-family: Bree Serif;
    font-size: 50px;
    color: white;
}

.content {
    text-align: center;
    color: black;
    padding: 100px;
    font-size: 15px;
}

.button {
    height: 38px;
    width: 136px;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border-width: 0px;
    margin: 10px;
}


.about-page-container {
    background-image: url("https://media.istockphoto.com/id/2211557789/photo/flat-lay-frame-of-electronic-waste-old-gadgets-hard-drive-phone-headphones-keyboard-on-green.jpg?s=1024x1024&w=is&k=20&c=3fF-vmeoizzCujUg3xjtlCNW7MI64k0xzfXz_wlYquw=");
    height: 150vh;
    background-size: cover;
}

.heading {
    text-align: center;
    color: #0b6623;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.paragraph {
    padding: 10px;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    color: #2e8b57;

}

.heading {
    text-align: center;
    color: #0b6623;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.sources {
    text-align: center;
    padding: 10px;
    font-family: Bree Serif;
    font-size: 15px;
    color: ;
}

.para {

    font-family: Roboto;
    font-size: 15px;
    color: black;
}


.solution-page-container {
    background-image: url("https://media.istockphoto.com/id/1470551235/photo/networking-concept-still-life-composition.jpg?s=1024x1024&w=is&k=20&c=xFJc_2AYc36wD18-hQEVHwvJdQkvzNhRlLbjKRCd3aQ=");
    height: 200vh;
    background-size: cover;
}

.heading {
    padding: 10px;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    color: #2E8B57;
    font-weight: bold;
}

.paragraph {
    font-family: Poppins;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color: #0f0202;
}

.awareness-page-container {
    background-image: url("https://media.istockphoto.com/id/2237033548/photo/ecosystem-restoration-environment-day-concept-3d-tree-background.jpg?s=1024x1024&w=is&k=20&c=n7R7VtvLTYUa2QxdfTBPJsIT0uLXBWepRzZoogtltZU=");
    height: 120vh;
    background-size: cover;

}

.main-heading {
    padding: 10px;
    font-family: Poppins;
    font-size: 25px;
    color: #1e6f5c;
    text-align: center;

}

.heading {
    padding: 10px;
    font-family: Poppins;
    font-size: 20px;
    color: #1e6f5c;
    text-align: center;
}

.paragraph {
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    color: ;
}

.images-section {
    margin: 10px;
    height: 150px;
    width: 150px;




}

.awareness-images-container {
    padding: 20px;
    margin: 20px;
}

.button {
    height: 36px;
    width: 138px;
    background-color: #2E8B57;
    color: white;
    font-family: Poppins;
    font-size: 15px;
    border-radius: 8px;
    border-width: 0px;

}

.get-involved-container {
    background-image: url("https://i.pinimg.com/736x/db/50/93/db50932ef36a84077b57e5a14d650a1c.jpg");
    height: 150vh;
    background-size: cover;
}

.main-heading {
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    color: #2e8b57;
    padding: 50px;
}

.paragraph {
    padding: 10px;
    text-align: center;
    font-family: Poppins;
    font-size: 17px;

}

.details {
    text-align: center;
    padding: 30px;
}

.para {
    text-align: center;
    font-family: Poppins;
    font-size: 19px;
    padding: 30px;
}

.icons {

    height: 150px;
    width: 150px;
    padding: 20px;
    margin: 20px;
}

.footer-section {
    text-align: center;
    padding: 20px;
}
    .btn {
      display: block;         /* make it a block element */
      margin: 0 auto;         /* auto left and right margins */
      padding: 10px 20px;
      background-color: royalblue;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }